# Query em banco de dados postgres

Esse Notebook tem como objetivo criar dataframes a partir de consultas SQL em banco de dados postgresSQL

A criação segue da seguinte forma:

## Importando bibliotecas

In [70]:
import psycopg2
import pandas as pd

## Conectando com o banco de dados e tranformando a query em Dataframe

### Dados para conexão com o banco

In [71]:
dados_conexao = {
    "host"      : "10.177.51.227",
    "database"  : "tjsc",
    "user"      : "postgres",
    "password"  : "postgres"
}

### Função de conexao com o banco

In [72]:
def connect(dados_conexao):
    conn = None
    try:
        # Conecta com o PostgreSQL
        print('conectando com o Postgres database...')
        conn = psycopg2.connect(**dados_conexao)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Conectado com susesso")
    return conn

### Função que transfroma a query em um dataframe pandas

In [73]:
def postgresql_to_dataframe(conn, select_query, column_names):
   
    #Tranform a SELECT query into a pandas dataframe
    
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

## Exemplo

### Nome das colunas do Dataframe

In [74]:
nome_colunas = ["Cod","Descrição"]

### Query

In [75]:
query = 'SELECT * from dw_tjsc_unificado_2g_v2.dim_competencia limit 50;'

In [76]:
# Connect to the database
conn = connect(dados_conexao)
df = postgresql_to_dataframe(conn, query, nome_colunas)

conectando com o Postgres database...
Conectado com susesso

In [83]:
df.head()

  Cod            Descrição
0   0       Órgão Especial
1   1   Recursos Delegados
2   2          Presidência
3   3  1ª Vice Presidência
4   4  2ª Vice Presidência

### Convertendo um dataframe para excel

In [78]:
df.to_excel('output.xlsx',index = False)

In [69]:
## Converter datas

###df.Data = pd.to_datetime(df.Data).dt.strftime('%d/%m/%Y')